<?xml version="1.0"?>
<CONFIGURATION>
  <TOOL>
    <NAME>DocMiner</NAME>
    <VERSION>v.01</VERSION>
    <DESCRIPTION>description: document miner component.</DESCRIPTION>
  </TOOL>
  <!--We describe here the command line argument:
  - @form is a space separated seris of option syntaxic form, e.g. '-i' for the 'input' option
  - @default is the default value
  - @help is a textual help for the user
  - @type is the data type (optparse has six built-in option types: string, int, long, choice, float and complex.)
  - @action is the expected action of the option parser, e.g. store, store_true, store_false (See http://docs.python.org/lib/optparse-standard-option-actions.html ) 
  - @metavar is "Stand-in for the option argument(s) to use when printing help text."
  See http://docs.python.org/lib/module-optparse.html understand fully the meaning of the attributes.
  Note @dest and @name are the same thing
-->
  <PARAM name="debug" form="--debug" dest="debug" action="store_true" default="False" help="debug mode">False</PARAM>
  <PARAM name="input" form="-i --input" help="input XML file" dest="input" default="-" action="store" type="string" metavar="&lt;file&gt;">'-'</PARAM>
  <PARAM name="log" form="--log" dest="log" action="store_true" default="False" help="log mode">False</PARAM>
  <PARAM name="output" form="-o --output" help="output XML file" dest="output" default="-" action="store" type="string" metavar="&lt;file&gt;">'-'</PARAM>
  <PARAM name="verbose" form="-v --verbose" dest="verbose" action="store_true" default="False" help="verbose mode">False</PARAM>
  <PARAM name="zlib" form="-z --zlib" dest="zlib" action="store_true" default="False" help="Compress the output with zlib (See zlib: zcat, zless, gzip, gunzip, etc.). Divide the file zize by ~8.">False</PARAM>
</CONFIGURATION>
